@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Mulish", sans-serif;
}

a, p, H1 {
    color: white;
    text-decoration: none;
} 

#background {
    position: fixed;
    width: 100%;
    height: 100vh;
    inset: 0;
    z-index: -1;
}

#background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after {
    content: "";
    width: inherit;
    height: inherit;
    position: fixed;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    column-gap: 64px;
    width: 100%;
    max-width: 1440px;
    margin-bottom: 10px;
}


header img {
    width: 70px;
    height: auto;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
}

.navigation_link {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.navigation_link:hover {
    color: red;


}

.navigation_link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.4s;
}

.navigation_link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: red;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.navigation_social {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-left: auto;
}

.navigation_social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;

    transition: all 0.4s;
}

.navigation_social svg:hover {
    opacity: 100%;
    transform: translateY(-5px);
    cursor: pointer;
}

main {
    margin-top: 10rem;
    flex: 1;

    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.main_info {
    width: 100%;
    max-width: 570px;
}

.main_info ´{
    font-size: 32px;
    margin: 20px 0, 28px;
}

.main_info div{
    display: flex;
    column-gap: 32px;
}

.main_info div a, .main_info div button {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transform: skew(-10deg);
}

.main_info div button {
    background-color: white;
    border: 1px solid white;
    color: black;
}

#ticket_link {
    color: black;
}